body {
    width: 100%;
    /*largura de 100% para o conteúdo */
    height: 100%;
    /*altura de 100% para o conteúdo */
    margin: 0 auto;
}

ul {
    padding: 0px !important;
}

.menu-principal { /* menu com as redes sociais*/
    width: 100%;
    /*largura da tela*/
    background-color: #252323;
    /*cor de fundo da menu-principal */
    height: 60px;
    /*altura*/
}

main, .content {
    margin: 0 auto;
    /* centralizar o container */
    width: 980px;
    /*largura do container */
    position: relative;
    /* alinhado relativamente a posição do container*/
}

.logo {
    float: left;
    padding: 16px;
    /*define uma a distância entre o conteúdo de um elemento e suas bordas*/
    width: 70%;
}

.redes-sociais ul li {
    margin-left: 25px;
    display: inline-block;
    /* deixar os elementos na mesma linha e também setar a altura e a largura*/
    float: left;
    list-style: none;
}

.redes-sociais {
    width: 25%;
    float: right;
}

.header-2 {
    background-color: #ffffff;
    width: 980px;
    /*largura da tela*/
    margin: 0 auto;
    padding: 16px;
}

.menu-urls {
    height: 80px;
    /*altura*/
    border-bottom: 3px solid #efefef;
}

.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 48px;
    /*altura*/
}

.menu ul li:hover {
    border-bottom: 3px solid #00bac6;
}

.menu ul li a:hover {
    color: #00bac6;
}

.menu ul li a {
    display: inline-block;
    color: #8b8b8b;
    text-decoration: none;
    /* retira o estilo da letra*/
    font-size: 17px;
    /* tamanho da letra*/
    text-transform: uppercase;
    /* todas as letras maiusculas*/
}

.menu {
    width: 70%;
    /*largura da tela*/
    float: left;
}

.busca {
    text-align: center;
    width: 30%;
    /*largura da caixa*/
    float: left;

}

.busca input {
    background-image: url('../img/icone-search.png');
    background-repeat: no-repeat;
    height: 25px;
    /*altura da caixa*/
    padding: 8px;
    width: 160px;
    margin-top: 8px;
    background-position: 92%;
    border: 1px solid #d6d6d6;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/anterior.png');
    top: 35%;
    left: 16%;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/proximo.png');
    top: 35%;
    right: 16%;
}

.slick-list {
    width: 100% !important;
}

.slick-initialized {
    overflow: hidden;
}

.slick-dots li button {
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 22px;
    height: 22px;
    background: transparent ;
    border-radius: 50%;
    cursor: pointer;   
}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 43%;
    top: 410px;    
}

li.slick-active button {
    background: #00bac6;
}

.slick-dots li {
    padding: 10px;
    display: inline-block;    
}

.texto-destaque {
    text-align: center;
}

.texto-destaque h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #818181;
}

.texto-destaque strong {
    color: #646464;
}

.texto-destaque p {
    color: #9a9a9a;
    font-size: 15px;
}